<app-nav-bar></app-nav-bar>

<div class="movie-card">
  <div class="card__inner">
    <header class="card__header">
      <nav class="card__nav">
        <ul class="list list--nav">
          <li><a href="#">Movie</a></li>
          <!-- <li><a href="#">Trivia</a></li> -->
          <li><a href="#">Reviews</a></li>
        </ul>
      </nav>
    </header>

    <main class="card__body">

      <div class="card__info">
        <h1 class="card__title">Captain America: Civil War</h1>

        <!-- <p class="card__slug">Political interference in the Avengers' activities causes a rift between former allies Captain America and Iron Man.</p> -->

        <button class="card__btn" value="Watch trailer">Watch trailer</button>

        <div class="card__rating">
          8.2
        </div>
      </div>
    </main>

    <footer class="card__footer">
      <ul class="list list--info">
        <li>2016</li>
        <li>122 min</li>
        <li>Action | Sci-Fi</li>
      </ul>
    </footer>
  </div>
</div>


<div class="container">
  <div class="row">
    <h3>More like this</h3>
  </div>
  <div class="row">
  <div class="col-sm-4" *ngFor="let m of mov; let i = index">
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/theater.jpg" alt="Card image" height="100px;" (click)="chooseMovie(m)">
      <div class="card-body">
        <h4 class="card-title">{{m}}</h4>
        <p class="card-text">To show description of movies</p>
        <!-- <a href="#{{i}}" data-toggle="modal" class="btn btn-primary">Comment Movie</a> -->
      </div>
    </div>
  </div>
  </div>
  </div>

<!-- <div class="container">
<div class="row">
  <h3>More like this</h3>
</div>
<div class="row">
<div class="col-sm-4" *ngFor="let m of mov; let i = index">
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/theater.jpg" alt="Card image" height="100px;" (click)="chooseMovie(m)">
    <div class="card-body">
      <h4 class="card-title">{{m}}</h4>
      <p class="card-text">To show description of movies</p>
      <!-- <a href="#{{i}}" data-toggle="modal" class="btn btn-primary">Comment Movie</a> -->
    <!--</div>
  </div>
</div>
</div>
</div> -->
