// Functions
@function remy($value, $base: 16px) {
  @return ($value / $base) * 1rem;
}

// Mixins
@mixin transition($prop: all, $duration: .2s, $timing: cubic-bezier(.4, 0, 1, 1)) {
  transition: $prop $duration $timing;
}

// Colors
$color-black: #212121;
$color-primary: #c62828;// red

// Variables
$boxshadow-0: 0 1px 3px rgba(0, 0, 0, .13),
0 1px 3px rgba(0, 0, 0, .23);
$boxshadow-1: 0 3px 6px rgba(0, 0, 0, .16),
0 3px 6px rgba(0, 0, 0, .23);
$boxshadow-2: 0 10px 20px rgba(0, 0, 0, .19),
0 6px 6px rgba(0, 0, 0, .23);
$boxshadow-3: 0 14px 28px rgba(0, 0, 0, .25),
0 10px 10px rgba(0, 0, 0, .22);
$radius: remy(4px);

// source -> https://codepen.io/alexdevero/pen/zBJrmJ

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.movie-card {
  position: relative;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: remy(850px);
  height: remy(500px);
  background: rgb(10,10,10);
  background-position: -40px 50px, 0;
  background-repeat: no-repeat;
  background-size: 55% 88%;
  border-radius: $radius;
  box-shadow: $boxshadow-2;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10,10,10,.15);
  }
}

.card__inner {
  position: relative;
  z-index: 5;
  height: 100%;
}

.list {
  display: flex;
}

.list--nav {
  justify-content: space-around;

  li  {
    width: calc(100%/3);
    background: #111;

    @include transition;

    &:focus,
    &:hover {
      background: #333;
    }

    &:first-of-type {
      background: #292929;
    }
  }

  a {
    display: block;
    padding-top: .85rem;
    padding-bottom: .85rem;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: remy(2px);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
}

.card__body {
  position: relative;
  top: 50%;
  // transform: translateY(-50%);
}

.card__info,
.card__footer {
  color: #fff;
}

.card__info {
  // position: relative;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  height: 30px;
  width: 20px;
  padding-right: 1.25rem;
  float: right;
  width: 50%;
}

.card__title {

  margin-right: 50px;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card__slug {
  height: 100px;
  width: 350px;
  // margin-bottom: 1.25rem;
  margin-top: 20px;
  color: rgba(255,255,255,.95);
}

.card_title_rating{
  margin-top: 150px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch
}
// .card__btn {
//   display: inline-block;
//   padding: .65rem 1.5rem;
//   font-size: .8rem;
//   font-weight: 600;
//   letter-spacing: remy(1px);
//   text-transform: uppercase;
//   color: #fff;
//   background: $color-primary;
//   border: 0;
//   border-radius: remy(35px);
//   box-shadow: $boxshadow-2;

//   @include transition;

//   &:focus,
//   &:hover {
//     color: #fff;
//     background: lighten($color-primary, 13%);
//     box-shadow: $boxshadow-3;
//   }
// }

// .card__rating {
//   display: inline-block;
//   position: relative;
//   padding: 1rem;
//   margin-left: 3rem;
//   color: #fff;
//   border-radius: 50%;
//   border: 3px solid $color-primary;

//   &:before {
//     content: "";
//     position: absolute;
//     z-index: 2;
//     top: -5px;
//     left:0;
//     width: 50%;
//     height: 20px;
//     // background: #000;
//   }
// }

footer {
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
  width: 100%;
}

.list--info {
  padding-left: 1rem;
  float: right;
  justify-content: space-between;
  width: 50%;

  li {
    font-size: 1rem;
  }

  li:nth-of-type(n+2) {
    margin-left: 1rem;
  }
}

.container{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin-top: 30px;
}

.row{
  margin-top: 2rem;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
}

// .colsm{
//   margin: 60px;
//   display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	align-items: flex-start;
// 	align-content: center;
// }


.card{
  height: 300px;
  margin-bottom: 15px;
  // width: 300px;
}

.card-img-top{
  height: 200px;
  // width: 100px;
}
