<!-- Welcome view containing button to navigate to login or sign up pages -->
<app-nav-bar></app-nav-bar>

<!-- <div class="container">
  <div class="image">

  </div>
</div> -->

<!-- Background image -->
<div class="bg-image" style="
      background-image: url('../../../assets/images/home-background.png');
      height: 100vh;
    ">

    <div class="text">
      <div>This web application allows you to get the</div>
      <div class="part2">...</div>
      <div>...</div>
    </div>
    <div class="button" routerLink="/login">
      Login
    </div>
    <div class="button" routerLink="/signup">
      Sign up
    </div>

  </div>
<!-- Background image -->
