.container{
  margin-top: 1rem;
  display: flex;
	justify-content: center;
	align-items: center;
}

textarea {
  resize: none;
  margin-bottom: 1rem;
}

ul {
  display: flex;
	justify-content: center;
	align-items: center;
}

.row{
  margin-top: 2rem;
  display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.card {
	margin-bottom: 20px;
}
.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}


