.container{
  margin-top: 1rem;
  display: flex;
	justify-content: center;
	align-items: center;
}

.codes{
  display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;



.card-body{
cursor: pointer;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #36d1dc; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5b86e5, #36d1dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        outline: none;
        border-radius: 20px;
        position: relative;
        height: 100px;
        color: #f8f7f7;
        font-size: 23px;
        flex: 1 220px;
        margin: 1.5rem 2rem;
        padding: 10px;
}
}
