<app-nav-bar></app-nav-bar>

<div class="container">
    <form class="border border-light">

      <p class="h4 mb-4">Login</p>
      <!-- Email -->
      <div class="col-xs-3">
        <input type="email" #email placeholder="Email" class="form-control mb-4" id="email">
      </div>
<!-- Password -->
<div class="col-xs-3">
        <input type="password" #password placeholder="Password" class="form-control mb-4" id="pwd">
      </div>
<!-- Button -->
      <button mdbBtn color="info" block="true" routerLink="/dashboard" (click)="login(email.value, password.value)" class="btn btn-primary mb-4">Submit</button>
      <!-- <div class="textInput">There is no user record corresponding to this identifier</div> -->

      <!-- Register -->
  <p>Not a member?
    <a routerLink="/signup" routerLinkActive="active">Register</a>
  </p>
    </form>

  </div>

