<app-nav-bar></app-nav-bar>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col">
        <div class="circle">
          <span class="initials">{{ initial }}</span>
        </div>
      </div>
      <div class="col-6">
        <div class="profile-head">
          <h4>
            Name: {{ firstName }} {{ lastName }}
          </h4>
          <h6>Age: 20</h6>
          <div class="col-md-10">
            <h4>
              Email: {{ email }}
            </h4>
          </div>
        </div>
      </div>

      <div class="col">
        <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> -->
        <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Recent comments</a
              >
            </li> -->
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List of my commented movies</a
              >
            </li>
          </ul>
<!--
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
          <div class="row">
            <div class="col-md-6">
                <label>bla</label>
            </div>
            rdtytr
            </div>
          </div> -->
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >

             <div class="row">
                                            <div class="col-md-6" *ngFor="let com of userCommentInfo">
                                                <label>My comments</label>
                                                <p>{{com}}</p>
                                                <label>Movies commented</label>
                                                <p>Beautiful Boy</p>
                                            </div>

                                            </div>
                                       <!-- </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                         -->

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
