<app-nav-bar></app-nav-bar>

<div class="container">
      <form class="text-center border border-light p-4">
        <p class="h4 mb-4">Create User</p>
        <div class="form-row mb-4">
          <!-- First name -->
          <div class="col">
            <input type="text" [(ngModel)]="fName" name="fName" class="form-control" id="inputFname" placeholder="First Name" required>
          </div>

          <!-- Last name -->
          <div class="col">
            <input type="text" [(ngModel)]="lName" name="lName" class="form-control" id="inputLname" placeholder="Last Name" required>
          </div>
        </div>

        <!-- date of birth -->
            <div class="col-xs-3">
            <label for="inputDOB">Date of Birth</label>
            <input type="date" [(ngModel)]="dob" name="dob" placeholder="yyyy-MM-dd" min="1970-01-01" max="2005-12-31" class="form-control mb-4" id="inputDOB" required>
            </div>

        <!-- E-mail -->
          <input type="email" [(ngModel)]="mail" #email name="email" class="form-control mb-4" placeholder="Email" id="email" required>

          <input type="password" #password name="password" class="form-control mb-4" placeholder="Password" id="pwd" minlength ="5" required>

        <button mdbBtn color="info" block="true" class="btn btn-primary mb-4" type="submit" routerLink="/genres" (click)="register(email.value, password.value)">Submit</button> <!-- fName.value, lName.value, , dob.value -->

        <!-- Register -->
  <p>Already a member?
    <a routerLink="/login">Log In</a>
  </p>
</form>
</div>
