<app-nav-bar></app-nav-bar>

<div class="container">
      <form class="text-center border border-light p-4" #signupUser="ngForm">
        <p class="h4 mb-4">Create User</p>
        <div class="form-row mb-4">
          <!-- First Name -->
          <div class="col">
            <div class="form-group" [class.has-error]="firstNameControl.invalid && firstNameControl.touched" [class.has-success]="firstNameControl.valid">
              <label for="fNmae" class="control-label">First Name</label>
            <input type="text" [(ngModel)]="fName" name="fName" class="form-control" id="fName" #firstNameControl="ngModel" required>
            <span class="help-block" *ngIf="firstNameControl.invalid && firstNameControl.touched">
              First Name is required
            </span>
          </div>
        </div>
          <!-- Last Name -->
          <div class="col">
            <div class="form-group" [class.has-error]="lastNameControl.invalid && lastNameControl.touched" [class.has-success]="firstNameControl.valid">
              <label for="lNmae" class="control-label">Last Name</label>
              <input type="text" [(ngModel)]="lName" name="lName" class="form-control" id="lName" #lastNameControl="ngModel" required>
            <span class="help-block" *ngIf="lastNameControl.invalid && lastNameControl.touched">
              Last Name is required
            </span>
          </div>
        </div>
</div>
        <!-- Date of Birth -->
            <div class="col">
            <label for="inputDOB">Date of Birth</label>
            <input type="date" [(ngModel)]="dob" name="dob" min="1970-01-01" max="2005-12-31" class="form-control mb-4" id="inputDOB" required>
            </div>

        <!-- E-mail -->
        <div class="form-group">
          <label >Email</label>
          <input type="email" [(ngModel)]="mail" #email name="mail" class="form-control mb-4" id="mail" required>
          <!-- <span *ngIf="mail.errors.required">Email is required</span>
      <span *ngIf="mail.errors.email">Must be a valid email address</span> -->
    </div>
        <!-- Password -->
        <div class="form-group">
          <label >Password</label>
          <input type="password" #password name="password" class="form-control mb-4" id="pwd" minlength ="5" required>
</div>

        <!-- Register -->
  <p>Already a member?
    <a routerLink="/login">Log In</a>
  </p>


<h2>Select your genres</h2>
<!-- <div class="form-group"> -->
<div class="codes">
  <!-- <div class="row"> -->
<div *ngFor="let item of genres">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->

  <label class="genreName">
    <input type="checkbox" name="item.genresName" [(ngModel)]="item.isChecked" required>
    <!-- [(ngModel)] to track checkbox state -->
    {{item.genresName}}
  </label>
  <!-- <button class="card-body" [value]="item.genresName">{{item.genresName}}</button>  -->
</div>
<!-- <button routerLink="/login" type="submit" class="btn btn-primary" (click)="changeSelection()">Confirm</button>(click)="" -->
</div>
<button mdbBtn color="info" block="true" class="btn btn-primary mb-4" type="submit" routerLink="/login" (click)="register(email.value, password.value)" [disabled]="signupUser.invalid">Submit</button>

</form>
</div>
